body {
    column-width: 100%;
    display: flex;
    justify-content: center;
}

.greeting {
    background-color: blue;
    color: white;
    text-align: center;
    width: 700px;
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.form-group {
    width: 700px;
    
}

#submitInput {
    width: 20%;
    margin: 2rem;
    text-align: center;
}

#resRoman {
    width: 50%;
    margin: auto;
    text-align: center;
}